@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #FAFAFA;
  color: #DCDCDC;
  font-family: Open Sans;
}

.login-box {
  margin-top: 100px;
  text-align: center;
  width: 480px;
  height: 380px;
  background-color: transparent;
  padding: 60px;
}

.well{
    background:transparent !important;
    box-shadow:none !important;
    border:none !important;
}
.form-control:focus {
    border-color:#ccc !important;
    webkit-box-shadow: none !important;
    box-shadow:none !important;
}

.logo {
  height: 57px;
  margin-bottom: 30px;
}
.form-control {
  margin-bottom: 20px;
  border:1px solid #cac3b7a8;

}
.custom-btn {
  width: 100%;
  font-size: 16px;
}
input[type="text"],input[type="password"]{
  background:#eeeeee61;
  color: #000;
}

::placeholder{
 color:#777777db !important;
}

.hideSection{
height:500px;
width:100%;
background:teal;
}

.forget{
   font-size:16px;
   margin: 10px 0;
}
.bold{
  font-weight: 800;
  font-size: 10px;
  color: #000;
  text-decoration:none !important;
}
.bold:hover{
  color: #000 !important;
}

@media(max-width:525px){
  .login-box{
  width:100%;
  }
  ::placeholder{
   color:#777777db !important;
   font-size:12px;
  }
}

@media( and max-width:275px){
 .forget {
     font-size: 15px;
  }
}
@media(max-width:300px){
  .logo{
  height: 11.5% !important;
  }
  .forget {
       font-size: 11px;
  }
  ::placeholder{
   color:#777777db !important;
   font-size:12px;
  }
}
@media(max-width:250px){
  .logo{
  height: 11% !important;
  }
  ::placeholder{
   color:#777777db !important;
   font-size:12px;
  }
}
@media(max-width:223px){
  .logo{
  height: 10% !important;
  }
  ::placeholder{
   color:#777777db !important;
   font-size:10px;
  }
}